<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="shortcut icon" href="../public/assets/favicon.ico" type="image/x-icon">

		<!-- css -->
		<link rel="stylesheet" href="../public/styles/global.css">
		<link rel="stylesheet" href="../public/styles/adm-produtos.css">

		<title>Admin | Nunes' Comics</title>
	</head>

	<body>

		<header>
		    

		</header>

  		<main>

		    <div class="info">

		    	<div class="titulo">
		    		<h1>Produtos</h1>
		    		<button type="button">Novo</button>
		    	</div>

		    	<div class="content">
		    		
		    		<div class="item">
			    		<div>id</div>
			    		<div>Nome</div>
			    		<div class="botoes gambiarra">
				    		<button type="button"></button>
				    		<button type="button"></button>
				    		<button type="button"></button>
				    	</div>
		    		</div>

		    		<div class="item">
			    		<div>01</div>
			    		<div>Livro Justiceiro - No Princípio</div>
			    		<div class="botoes">
			    			<button type="button">Visualizar</button>
			    			<button type="button">Editar</button>
			    			<button type="button">Excluir</button>
			    		</div>
		    		</div>

		    		<div class="item">
			    		<div>02</div>
			    		<div>Livro Justiceiro</div>
			    		<div class="botoes">
			    			<button type="button">Visualizar</button>
			    			<button type="button">Editar</button>
			    			<button type="button">Excluir</button>
			    		</div>
		    		</div>	
		    		
		    	</div>

		    </div>

  		</main>
  
	</body>

</html>