<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- css -->
  <link rel="stylesheet" href="../public/styles/global.css">
  <link rel="stylesheet" href="../public/styles/items.css">

  <!-- partials -->
  <link rel="stylesheet" href="../public/styles/navbar.css">
  <link rel="stylesheet" href="../public/styles/footer.css">

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  
  <title>Document</title>
</head>
<body>

  <header>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <img src="../public/assets/hamburger-menu.svg" alt="">
      </label>
      <label class="logo">
        <img src="../public/assets/logo.png" alt="">
      </label>
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./about.html">Sobre Nós</a></li>
        <li><a class="active" href="#">Produtos</a></li>
        <li><a href="./contato.html">Contato</a></li>
      </ul>
    </nav>
  </header>
  
  <main>

  </main>

  <div class="halftone bottom">
    <img src="../public/assets/halftone-effect.svg" alt="">
  </div>
  <div class="halftone top">
    <img src="../public/assets/halftone-effect.svg" alt="">
  </div>

  <footer>

  </footer>

</body>
</html>