footer {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;    
}

footer .light-bar {
    height: 235px;
    background-color: var(--teal);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .light-bar .logo-image {
    padding-left: 2rem;
    padding-right: 2rem;
    border-right: 1px solid var(--blue);
    height: 12.5rem;

    display: flex;
    align-items: center;
}

footer .light-bar .logo-image img {
    width: 11.25rem;
    height: 11.25rem;
}

footer .light-bar .content {
    display: flex;
    /* padding-left: 3.45rem;
    padding-right: 3.45rem; */
}

footer .light-bar .content .section {
    list-style: none;
    padding: 0 3.45rem;
}

footer .light-bar .content .section li {
    font-size: 0.875rem;
    font-weight: 400;
}

footer .light-bar .content .section li.title {
    font-size: 1rem;
    font-weight: 500;
}

footer .light-bar .map {
    padding-left: 2rem;
    padding-right: 2rem;
    border-left: 1px solid var(--blue);
    /* height: 200px; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .light-bar .map h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}

footer .light-bar .map iframe {
    border: 0;
    border-radius: 0.5em;
    width: 12.5rem;
    height: 12.5rem;
}

footer .dark-bar {
    height: 65px;
    background-color: var(--dark-teal);
    border-top: 1px solid var(--blue);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .dark-bar .social {
    padding-left: 3.5rem;
    display: flex;
}

footer .dark-bar .social a {
    width: 2rem;
    height: 2.3rem;
}

footer .dark-bar .social a img {
    width: 100%;
}


footer .dark-bar .contact img {
    width: 1.25rem;
}
