:root{
	--corDoFundo: #ffffff;
	--corSecundaria: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* other info --------------------------------------------------------------- */
.info {
  margin: 8rem 0;
  width: 70vw;
  color: var(--corSecundaria);
}

.info h1{
	color: var(--corSecundaria);
}

.info button{
	border: 1px solid var(--corSecundaria);
	color: var(--corSecundaria);
	background-color: var(--corDoFundo);
	width: 70px;
	height: 30px;
	border-radius: 5px;
}

.info .content{
	border: 1px solid var(--corSecundaria);
	border-radius: 5px;
}

.info .content .item{
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: var(--corSecundaria);
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
	line-height: 30px;
}

.info .titulo{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.info button:hover{
	cursor: pointer;
}

.gambiarra button{
	border: 1px solid var(--corDoFundo);
	color: var(--corDoFundo);
}


/* other addProduto --------------------------------------------------------------- */
.addProduto{
	background-color: var(--corDoFundo);
	width: 50vw;
	position: absolute;
	margin: 8rem 0;
	border: 1px solid var(--corSecundaria);
	border-radius: 5px;
	visibility: hidden;
	text-align: right;
	color: var(--corSecundaria);
}

.addProduto .fa-times{
	color: var(--corSecundaria);
	padding: 0.5rem;
}

.addProduto .fa-times:hover{
	cursor: pointer;
}

.addProduto form{
	text-align: center;
}

.addProduto .botoes{
	border: 1px solid var(--corSecundaria);
	color: var(--corSecundaria);
	background-color: var(--corDoFundo);
	width: 70px;
	height: 30px;
	border-radius: 5px;
	margin-bottom: 1rem;
}

.addProduto .botoes:hover{
	cursor:pointer;
}

.addProduto .item{
	padding: 1rem;
}


body {
  background: var(--corDoFundo);
}

@media (max-width: 1080px) {
  .content .item .botoes{
  	display: flex;
  	flex-direction: column;
  }

  .addProduto{
  	width: 70vw;
  }

  .addProduto .item{
	padding: 0.5rem;
  }
}

@media (max-width: 720px) {

  .item div{
	padding: 0.5rem;
  }

  .addProduto #imagem{
  	font-size: 75%;
  }

}