:root{
	--corDoFundo: #42AFC9;
	--corSecundaria: black;
	--corBotao: black;
	--corTitulo: #F9E757;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body{
	display: flex;
   justify-content: center;
   align-items: center;
}

.itemForm{
	display: flex;
	align-items: center;
	padding-bottom: 1rem;
}

.itemForm label{
	width: 6rem;
}

form .botoes{
	border: 1.5px solid black;
	color: white;
	background-color: black;
	width: 70px;
	height: 30px;
	border-radius: 5px;
	transition: 0.5s;
	font-family: 'Bangers', cursive;
}

form .botoes:hover{
	transform: scale(1.1);
}

.botao{
	justify-content: center;
}

#fotoProduto{
	font-family: 'Bangers', cursive;
}

input[type='file'] {
	display: none;
}

#botaoArquivo{
	width: 150px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #F9E757;
	border: 1.5px solid black;
	border-radius: 5px;
	color: black;
	cursor: pointer;
	transition: 0.5s;
}

#botaoArquivo:hover{
	transform: scale(1.1);
}

/* page halftone details ---------------------------------------------------- */
.halftone {
  position: fixed;
  width: 800px;
  z-index: -1;
}

.halftone.bottom {
  bottom: -560px;
  left: -70px;
  transform: rotate(10deg);
}

.halftone.top {
  top: -420px;
  right: -510px;
  transform: rotate(210deg);
}