:root{
	--corDoFundo: #ffffff;
	--corSecundaria: #c9c3c3;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* other info --------------------------------------------------------------- */
.info {
  margin: 8rem 0;
  width: 70vw;
  color: var(--corSecundaria);
}

.info h1{
	color: var(--corSecundaria);
}

.info button{
	border: 1px solid var(--corSecundaria);
	color: var(--corSecundaria);
	background-color: var(--corDoFundo);
	width: 70px;
	height: 30px;
	border-radius: 5px;
}

.info .content{
	border: 1px solid var(--corSecundaria);
	border-radius: 5px;
}

.info .content .item{
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: var(--corSecundaria);
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
	line-height: 30px;
}

.info .titulo{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.info button:hover{
	cursor: pointer;
}
.gambiarra button{
	border: 1px solid var(--corDoFundo);
	color: var(--corDoFundo);
}

body {
  background: var(--corDoFundo);
}

@media (max-width: 1080px) {
  .content .item .botoes{
  	display: flex;
  	flex-direction: column;
  }
}

@media (max-width: 720px) {
  .content .item .botoes{
  	display: flex;
  	flex-direction: column;
  }

  .item div{
	padding: 0.5rem;
  }

}