body{
  background: var(--blue);
  font-family: 'Bangers', cursive;
}

/* other info --------------------------------------------------------------- */
.container {
  margin: 8rem 0;
  width: 70vw;
  color: var(--black);
  font-size: 1.125rem;
}

.container h1 {
	color: var(--yellow);
	-webkit-text-stroke-width: 1.5px; /* largura da borda */
	-webkit-text-stroke-color: var(--black);
}

.container table tr {
	border: 1.5px solid var(--black);
	background-color: white;
}

.container table thead tr {
	background-color: #000000;
	color: #FFFFFF;
}

.container button {
	border: 1.5px solid var(--black);
	color: white;
	background-color: var(--black);
	width: 4.4rem;
	height: 1.9rem;
	border-radius: 5px;
  font-size: 1rem;
	transition: 0.3s;
}

.container button:hover {
  background-color: var(--yellow);
  color: var(--black);
}

.container .pagination .active a {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
}

/* page halftone details ---------------------------------------------------- */
.halftone {
  position: fixed;
  width: 800px;
  z-index: -1;
}

.halftone.bottom {
  bottom: -560px;
  left: -70px;
  transform: rotate(10deg);
}

.halftone.top {
  top: -420px;
  right: -510px;
  transform: rotate(210deg);
}

@media (max-width: 720px) {
	.container h1{
		font-size: 25px;
	}
}
