/* swiper ------------------------------------------------------------------- */
.latest {
  margin-top: 5rem;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.latest h2 {
  margin-top: 10rem;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  color: var(--yellow);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000;
}

.latest .swiper-container {
  width: 100%;
  padding: 2rem 0;

  background-color: var(--yellow);
  border: 2px solid #000;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.25);
}

.latest .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background: #000;

  border: 5px solid black;
}

.latest .comic-cover {
  width: 100%;
  height: 100%;
}

/* other info --------------------------------------------------------------- */
.info {
  margin: 8rem auto;
  width: 70vw;
  padding: 5rem;

  background: var(--yellow);
  border: 2px solid #000;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.25);
}

.info .content {
  line-height: 2rem;
}

.info .content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.info .content p {
  font-size: 1rem;
  margin-bottom: 3rem;
}

.info .content p:last-child {
  margin-bottom: 0;
}

@media (max-width: 952px) {
  main .info {
    width: 90vw;
    padding: 2.5rem 2.0rem;
  }

  main .latest {
    width: 90vw;
  }
}

/* page halftone details ---------------------------------------------------- */
.halftone {
  position: fixed;
  width: 800px;
  z-index: -1;
}

.halftone.bottom {
  bottom: -560px;
  left: -70px;
  transform: rotate(10deg);
}

.halftone.top {
  top: -420px;
  right: -510px;
  transform: rotate(210deg);
}